@charset "UTF-8";

/* mainNav.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(255, 128, 64);
    text-align: center;
    padding: 10px 0;
}

/* Updated class for navigation container */
.main-nav {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 255, 255); /* Soft purple */
    box-shadow: 0px 4px 8px rgb(128, 128, 255);
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 1px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #5248C6; /* Darker shade of purple */
    color: #FFDEE9; /* Soft pastel pink for contrast */
}
